.inner {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  font-size: 12px;
  color: #fff;
  background: #74cfae;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

#email-btn {
  padding: 14px 20px;
}

/* ヘッダー */
.header-btn-wrapper {
  text-align: right;
}

#contact-btn {
  padding: 14px 12px;
  text-align: right;

}

header {
  padding: 15px 0;
}

/* main */
.theme {
  padding: 250px 0;
  background: #f2f2f2;
}

#first-section {
  padding-top: 50px;
  background: #74cfae;
}

#first-section p,
#first-section h3 {
  color: #fff;
}

#first-section-wrapper {
  display: flex;
}

.first-section-left,
.first-section-right {
  width: 50%;
  text-align: center;
}

#first-section p {
  margin-top: 35px;
}