body {
  font-family: Lato;
}

img {
  vertical-align: top;
}


.inner {
  width: 1100px;
  margin: 0 auto;
}

.btn {
  font-size: 12px;
  color: #fff;
  background: #74cfae;
  transition: .3s
}

.btn:hover {
  color: #333;
}

.top-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
}

.top-text {
  font-size: 30px;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

.sub-title {
  font-size: 24px;
  text-align: center;

}

.white {
  color: #fff;
}

.dark {
  color: #000;
}

p {
  color: #333;
  font-size: 20px;
}

.email-btn {
  padding: 14px 20px;
}

/* ヘッダー */
.header-btn-wrapper {
  display: flex;
  justify-content: space-between;
}



/* .header-btn-left {
  text-align: left;
} */

.header-btn-left i {
  font-size: 34px;
  line-height: 45px;
  color: #4e4e4e;

}

/* .header-btn-right {
  text-align: right;
} */

.header-btn-right {
  margin-top: 15px;
}

.contact-btn {
  padding: 14px 12px;
  text-align: right;
}

.header-sp-wrapper {
  display: flex;
}

.header-sp-icon {
  width: 50%;
}

.header-sp-icon i {
  font-size: 50px;
  color: #4e4e4e;
}

.humberger-wrapper {
  text-align: right;
  width: 50%;
}

.header {
  padding: 15px 0;
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fff;
}

/* main */
.theme {
  padding: 250px 0;
  background: #f2f2f2;
}

.wat-we-can-do-section {
  padding-top: 50px;
  background: #74cfae;
}

.wat-we-can-do-section p,
.wat-we-can-do-section h3 {
  color: #fff;
}

.wat-we-can-do-section-wrapper {
  display: flex;
}

.wat-we-can-do-section-left,
.wat-we-can-do-section-right {
  width: 50%;
  text-align: center;
}

.wat-we-can-do-section-left {
  width: 40%;
}

.wat-we-can-do-section-rifght {
  width: 60%;
}

.wat-we-can-do-section p {
  margin-top: 35px;
}

.image-article {
  padding: 60px 0 70px;
  background: #f2f2f2;
}

.our-latest-work h3 {
  text-align: center;
}

.img-section {

  margin-top: 40px;
  margin-bottom: 90px;
}

.img-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.img-wrapper a {
  display: block;
  opacity: 0.7;
  transition: .3s
}

.img-wrapper a:hover {
  opacity: 1;
}

.img-wrapper a {
  margin-right: 100px;
}

.img-wrapper a:nth-child(3n) {
  margin-right: 0;
}

/* .img-wrapper a:nth-child(2),
.img-wrapper a:nth-child(5) {
  margin: 0 100px;
} */

.img-wrapper a:nth-child(n+4) {
  margin-top: 80px;
}


.section04 {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.section04-left {
  width: 68%;
  text-align: center;
}

.section04-right {
  width: 32%;
  padding-left: 90px;
  box-sizing: border-box;
}

.section05 {
  padding: 70px 0 100px 0;
  background: #4e4e4e;
}

.section05 h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
}

#skills-wrapper {
  display: flex;
  justify-content: center;
}


#skills-wrapper div:nth-child(n+1):nth-child(-n+3) {
  margin-right: 180px;
}

#skills-wrapper p {
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}

nav {
  padding: 200px 0;
  background: #f2f2f2;
}

.sns-wrapper {
  text-align: center;
}

.sns-wrapper i {
  width: 185px;
  display: inline-block;
  text-align: center;
  height: 100px;
  line-height: 100px;
  font-size: 40px;
  transition: .3s;
  color: #74cfae;
}

.sns-wrapper i:hover {
  background: #fff;
  cursor: pointer;
}

.footer {
  background: #74cfae;
  padding: 20px 0 25px 0;
}

.footer p {
  text-align: right;
  color: #fff;
}


/*ハンバーガーアイコン*/
#humberger {
  position: relative;
  height: 24px;
  width: 24px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 3px;
}

#humberger div {
  position: absolute;
  left: 0;
  height: 4px;
  width: 24px;
  background-color: #ddd;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
}

#humberger div:nth-of-type(1) {
  top: 0;
}

#humberger div:nth-of-type(2) {
  top: 10px;
}

#humberger div:nth-of-type(3) {
  bottom: 0;
}

.border {
  border: 1px solid #ddd;
  padding: 10px;
  width: 30px;
  text-align: right;
  display: inline-block;
  height: 26px;
  border-radius: 4px;
}

/*ハンバーガーアイコンend*/
.header-sp-title {
  background: #74cfae;
  padding: 20px;
  margin-top: 10px;

}

.header-sp-title p {
  color: #fff;
}

@media screen and (min-width:1200px) {
  .header-sp {
    display: none;
  }
}

@media screen and (max-width:1199px) {
  .inner {
    width: 97%;
  }

  .header-sp {
    display: none;
  }

  .wat-we-can-do-section-wrapper {
    display: block;
  }

  .wat-we-can-do-section-left {
    width: 100%;
  }

  .wat-we-can-do-section-right {
    width: 80%;
    margin: 0 auto;
  }

  .wat-we-can-do-section-right h3 {
    margin-top: 20px;
  }

  .wat-we-can-do-section {
    padding-bottom: 25px;
  }

  .img-wrapper {
    display: block;
  }

  .img-wrapper a {
    margin: 0 auto;

  }

  .img-wrapper a:nth-child(2),
  .img-wrapper a:nth-child(5) {
    margin: 0 auto;
  }

  .img-wrapper a:nth-child(n+4):nth-child(-n+6) {
    margin-top: 0;
  }

  .img-wrapper a:nth-child(3) {
    margin-bottom: 80px;
  }

  .section04 {
    display: block;
    width: 97%;
  }

  .section04-left,
  .section04-right {
    width: 100%;
  }

  .section04-right {
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
  }

  #skills-wrapper {
    display: block;
  }

  .skill-contents {
    margin: 0 auto;
    text-align: center;
  }

  #skills-wrapper .skill-contents:nth-child(n+1):nth-child(-n+3) {
    margin-right: 0;
  }

  #skills-wrapper .skill-contents:nth-child(n+2):nth-child(-n+4) {
    margin-top: 88px;
  }
}


/* スマホサイズ */
@media screen and (max-width:767px) {
  .header-pc {
    display: none;
  }

  .theme {
    padding: 160px 0 130px 0;
  }

  .header-sp-title {
    display: none;
  }

  .header-sp {
    display: block !important;
  }

  .header {
    padding: 15px 0;
  }

  .sns-wrapper i {
    display: block;
    width: 100%;
  }

  nav {
    padding: 50px 0;
  }

  .img-wrapper a {
    width: 100%;
  }
}